<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"></properties>

    <settings>
        <!-- 开启将数据库中下划线连接的字段自动映射为Java的小驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>


    <typeAliases>
        <!-- 单个类配置别名 -->
              <!--  <typeAlias type="com.lanou.mybatis.bean.Student" alias="Student" />-->
        <package name="com.lanou.upms.bean" />

    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
                <property name="driver" value="${jdbc.driver}" />
            </dataSource>
        </environment>
    </environments>



    <mappers>
        <mapper resource="mapper.xml"/>
    </mappers>
</configuration>